# sudo systemctl daemon-reload
# sudo systemctl enable --now lid-dpms.service

[Unit]
Description=Turn off display on lid close
After=systemd-logind.service
StartLimitIntervalSec=0

[Service]
Type=oneshot
ExecStart=/bin/bash -c "sleep 1 && hyprctl dispatch dpms off"
ExecStop=/bin/bash -c "hyprctl dispatch dpms on"
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
