[Unit]
Description=Turn off display on lid close
After=systemd-logind.service
StartLimitIntervalSec=0

[Service]
Type=oneshot
ExecStart=/bin/bash -c 'sleep 1; vbetool dpms off || echo 1 > /sys/class/backlight/*/bl_power'
ExecStop=/bin/bash -c 'vbetool dpms on || echo 0 > /sys/class/backlight/*/bl_power'
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
